{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<h1>ABOUT US</h1>

<br>
<p>The premium fruit cake patisserie was created in 2012 by Henry C.
    An Indonesian Pastry Chef.
</p>
</br>

<div>
    <p2>Commencing his passion in baking and cooking, during the time he was living in Brussels, Belgium.

        He came from completely different major background in Finance study environment and moved to Paris, France where
        he
        attained his official certified pastry chef in Le Cordon Bleu, Paris.
    </p2>
</div>

<br>
<p3>Having lived 7 years in Paris, where he pursued his dreams working in big chains of hotellerie, later he moved
    to
    Vienna, Austria to further his passion in Eastern European cake culture. Nowadays, he has his own particular
    market
    in Jakarta, where he serves his imagination and brings into reality for
    those who appreciates European quality fruit cake culture.
</p3>
</br>

<br>
<p4>The premium line of fruit cake he offers is enhanced from different imported ingredients to maintain high level of
    cake quality.
</p4>
</br>

{% endblock content %}