{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!--<h1 style="float: left">CONTACT US</h1>

<br></br>

<p1 style="float: left">
    Email: premiumfruitcakes@patisserie.com
</p1>

<br></br>

<p2 style="float: left">
    Phone: 1234567
</p2>

<br></br>

<h2 style="float: left">FOLLOW US</h2>

<p1 style="float: left">
    Instagram: https://instagram.com/henrys_entremets?utm_medium=copy_link
</p1>-->

<div>
    <p style="float: right;"><img src="{% static 'images/contact.jpeg' %}" width="450" height="450"></p>
    <h1>CONTACT US</h1>
</div>

<br></br>

<div>
    <p style="float: right;"></p>
    <p1>Email: premiumfruitcakes@patisserie.com</p1>
</div>

<br></br>

<p2 style="float: right;"></p2>
<p2>Phone:123456890</p2>

<br></br>
<br></br>

<div>
    <p style="float: right;"></p>
    <h1>FOLLOW US</h1>
</div>

<p2 style="float: right;"></p2>
<a href='https://www.instagram.com/henrys_entremets/'>Instagram</a>

<!--<img src="{% static 'images/contact.jpeg' %}" style="float:right" width="450" height="450" />

<br></br>

{% endblock content%}-->